:root {
    --cor-disco1: #2a9d8f;
    --cor-disco2: #e9c46a;
    --cor-disco3: #f4a261;
    --cor-disco4: #e76f51;
    --cor-base: #7F5539;
    --cor-vareta: #B08968;
    --cor-de-fundo: #4895ef;
    --cor-de-fundo-secundaria: #dee2e6;
    --cor-de-fundo-card: #fff;
    --cor-de-fundo-botao: #f72585;
    --cor-de-fundo-botao-hover: #b5179e;
    --cor-desativado: #a3a3a3;
}

body,
header,
main,
div,
span,
input,
h1,
h2,
p {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hidden {
    display: none;
}

#container {
    background-color: var(--cor-de-fundo-card);
}

header {
    background-color: var(--cor-de-fundo);
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0;
}

header span#movimentos {
    padding: 8px 22px;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 100%;
    border: 5px solid white;
}

.statistic-timer {
    margin: 20px 0 0;
}

header span#tempo {
    font-size: 1.5rem;
    font-weight: 600;
}

main {
    padding: 0 10px;
    margin-top: 40px;
}

/*TOWERS*/

#container-towers {
    display: flex;
    justify-content: space-around;
}

.tower {
    height: 150px;
    width: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--cor-vareta);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    transition: transform .2s;
}

.tower:hover {
    cursor: pointer;
    transform: scale(1.1) translate(0, -9px);
}

/*DISCOS*/

.disco {
    height: 25px;
    border-radius: 5px;
    margin-top: 2px;
}

.selected div:nth-last-child(1) {
    border: 4px solid indianred;
}

#disco1 {
    width: 35px;
    background-color: var(--cor-disco1);
}

#disco2 {
    width: 55px;
    background-color: var(--cor-disco2);
}

#disco3 {
    width: 75px;
    background-color: var(--cor-disco3);
}

#disco4 {
    width: 95px;
    background-color: var(--cor-disco4);
}

#container-base {
    height: 50px;
    width: 100%;
    margin-top: 2px;
    border-radius: 8px;
    background-color: var(--cor-base);
}

/*BUTTON RESET*/

#container-button,
.modal-button {
    text-align: center;
}

#buttonReset,
#buttonFechar {
    margin: 30px;
    padding: 10px 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    border: none;
    background-color: var(--cor-de-fundo-botao);
}

#buttonReset:hover,
#buttonFechar:hover {
    background-color: var(--cor-de-fundo-botao-hover);
    cursor: pointer;
    transition: 0.2s;
}

#buttonReset.disabled {
    background-color: var(--cor-desativado);
}

/* Modal */

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 250px;
}

.modal-header {
    font-size: 4rem;
    text-align: center;
    padding: 10px;
}

.modal-message {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

.modal-statistic {
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
}

.modal-statistic p {
    margin-bottom: 5px;
}

/* Footer */

footer p {
    color: white;
    text-align: center;
    background-color: var(--cor-de-fundo);
    padding: 20px 10px;
}

@media only screen and (min-width: 800px) {
    body {
        background-color: var(--cor-de-fundo-secundaria);
    }

    #container {
        max-width: 800px;
        margin: 20px auto;
        box-shadow: 2px 2px 6px 2px #888888;
    }

    header {
        flex-direction: row;
        justify-content: space-around;
    }

    header h1 {
        font-size: 4rem;
    }

    main {
        padding: 0 60px;
        margin-top: 60px;
    }

    .tower {
        height: 200px;
        width: 25px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .disco {
        height: 35px;
    }

    #disco1 {
        width: 85px;
    }

    #disco2 {
        width: 105px;
    }

    #disco3 {
        width: 125px;
    }

    #disco4 {
        width: 145px;
    }

    #container-base {
        height: 60px;
    }
    
    .modal-content {
        margin: 5% auto;
        padding: 40px;
        width: 450px;
    }
}